/*
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, a, input, p{	
	font-family: 'Open Sans', Helvetica !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
	background: url('../img/bg.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

ol, ul {
    list-style: none;
}


/* end css reset */


/*

right chatmessages, borders: #d6d4d5
deloitte green: #6eb744;
text color:#3d3b3c
lightblue: #0e9ed3
padding-left/right: 26px
padding-top in typscherm: 55px
padding-top textbericht: 28px;
padding-bottom textbericht: 40px;
padding-leftright textberifht: 25px;
*/

html, body, #app, #approot {
    height: 100%;
}

p, a, input {
    font-family: Helvetica;
    line-height: 1.5;
}

.approot{
	width: 100%;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.header {
    text-align: center;
    position: fixed;
    top: 0;
	margin-left: 1px;
	margin-right: 2px;
    background-color: white;
    z-index: 2;
	height: 110px;
	width: 100%;
	max-width: 448px;
}
.header.profile-header{
	height: 80px;
}

.header-logo{
	padding-top: 10px;
	background: url('../img/carl-logo.png') center center no-repeat;
	background-size: 20%;
	height: 50px;
	width: 100%;
}

.header-profile-image{
	float: right;
	margin-right: 8px;
	width: 35px;
	border-radius: 50%;
	cursor: pointer;
}

.header-back-image{
	float: left;
	margin-left: 10px;
	height: 22px;
	width: 14px;
	margin-top: 1px;
	cursor: pointer;
}

.header-buttons{
	margin-top: 15px;
	height: 30px;
	width: calc(100% - 40px);
	padding-left: 20px;
	padding-right: 20px;
}

.header-buttons a {
	width: 50%;
	float: left; 
	font-size: 14px;
	color: #C3C3C3;
	text-decoration: none;
	border-bottom: 3px solid #C3C3C3;
	padding-bottom: 2px;
}

.header-buttons a.selected {
	color: #262626;
	border-color: #6FB744;
}

input {
  border: none;
  padding: 30px 25px;
}

/*
######################
Start Content
######################
 */

.wrapper {
    min-height: 100%;    
}

.wrapper.grey{
	background: #FAF9F9;
}

.content {
    padding: 135px 20px 100px 20px;
}
.content.profile-content{
	padding-top: 105px;
}

.message-body {
    margin-right: 50px;
    margin-left: 50px;
}

.message {
    padding: 10px 15px;
	border-radius: 5px;
	font-size: 18px;
	line-height: 0.2em;
}

.message.message-with-options {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.message p {
    line-height: 1.3em;
}

.message-options{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: white;
}

.message-options a, .message-options a:hover{
	text-decoration: none;	
	display: inline-block;
	width: calc(100% - 30px);
	padding: 10px 15px;
}

.avatar-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 5px;
}

.message-options {
    text-align: center;
}

.option {
  border-bottom: 1px solid #d6d4d5;
}

.message-options .option a {
  color: #0e9ed3;
}

.message-options .option.url-option a {
	text-align: left;
	word-wrap: break-word;
}

.message-arrow {
  height: 50px;
}

/*
######################
Left styling
######################
 */

.bot .message {
    background-color: #d6d4d5;
    border: 1px solid #d6d4d5;
}

.bot .message p {
    color: #3d3b3c
}

.bot .message-options {
  border: 1px solid #d6d4d5;
  border-width: 1px 1px 0px 1px;
}

.bot .avatar img {
    border: 1px solid #07a3e0;
	
}

.bot .avatar-img {
	top: 10px;
}
.bot .message-arrow {
  float: right;
}

.bot .message-footer {
  width: 160px;
  padding-bottom: 20px;
}

.bot .message-footer.open{
	margin-top: -1px;
}

/*
 ######################
 Right styling
 ######################
  */
.person .message {
    background-color: #6eb744;
    border: 1px solid #6eb744;
}

.person .message p {
    color: #fff
}

.person .message-options {
  border: 1px solid #6eb744;
  border-width: 1px 1px 0px 1px;
}

.person .avatar {
  overflow: auto;
}

.person .avatar-img {
	top: 10px;
}

.person .message-footer {
  text-align: right;
}

.person .message-arrow {
  margin-right: 20px;
}

.person .message-footer {
  width: 100%;
  padding-bottom: 20px;
}

.person.pending .message-body {
  width: 125px;
  margin-left: auto;
}

.person.pending p {
  font-weight: bold;
  text-align: center;
}

/*
######################
Start Footer
######################
 */

.footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #d6d4d5;
    background-color: white;
    width: 100%;
    max-width: 448px;
}

.footer-wrapper {
  width: 100%;
}

.inserttext {
    display: inline-block;
    width: calc(100% - 120px);
}

.inserttexticons {
    display: inline-block;
    /*width: 50px;*/
    float: right;
    padding-top: 20px;
}

.icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    /*transition: .5s all;*/
    display: inline-block;
    background-color: #000;
    color: white;
}

.sendicon {
  padding: 0 15px 0 0;
}

.inputmessage {
  width: 100%;
  color: #A1A1A1;
}

/*
######################
Profile
######################
 */
 
 .profile{
	 font-family: 'Open Sans', Helvetica;
 }

.large-profile-image{
	background: url('../img/avatar-large.png') center top no-repeat;
	background-size: 160px;
	height: 160px;
}

.profile h1{
	text-align: center;
	margin-top: 20px;
	font-size: 1.6em;
	font-weight: 100;
	padding-bottom: 30px;
	margin-left: -20px; 
	margin-right: -20px;
}

.profile h1.name{
	border-bottom: 1px solid #C3C3C3;	
}

.profile h1.profile-header{
	color: #C3C3C3;
	margin-top: 30px;
}

.profile-setting span{
	height: 25px;
	
	border-radius: 5px;
	border-right: none;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;	
	padding-left: 40px;
	padding-top: 8px;
	display: inline-block;
	vertical-align: middle;
}

.profile-setting select{
	height: 32px;
	background: linear-gradient(to bottom, #F0F0F0, white);
	border: 1px solid #D6D5D5;
	border-radius: 5px;
	border-left: none;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;	
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 4px;
}